
<%provide(:title, 'Game Page') %>
<html id='gamebackground'> <!--Remember if we create a game background then create gamebackground.css-->

<head>
	<link type="text/css" rel="stylesheet" href="game.css" />
	<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css"> <!-- Just for the general font and progress bar-->
<body>
	<title>Ecowars</title>
</head>
<!-- Game menu bar -->
<span style="font-size:30px;cursor:pointer" onclick="gopenNav()">&#9776; Game Menu</span>
<div id="gSidenav" class="gsidenav">
  <a href="javascript:void(0)" class="gclosebtn" onclick="gcloseNav()">&times;</a>
  <a id = "about" onclick="expand()">About</a>
  <div class="sub-menu" id = "sub-menu-about">
         <li><a href="#">Sub Item 1</a></li>
         <li><a href="#">Sub Item 2</a></li>
         <li><a href="#">Sub Item 3</a></li>
         <li><a href="#">Sub Item 4</a></li>
  </div>
  <a id = "services">Services</a>
  <div class="sub-menu">
         <li><a href="#">Sub Item 1</a></li>
         <li><a href="#">Sub Item 2</a></li>
         <li><a href="#">Sub Item 3</a></li>
         <li><a href="#">Sub Item 4</a></li>
  </div>
  <a id = "buys">Buys</a>
  <div class="sub-menu">
         <li><a href="#">Sub Item 1</a></li>
         <li><a href="#">Sub Item 2</a></li>
         <li><a href="#">Sub Item 3</a></li>
         <li><a href="#">Sub Item 4</a></li>
  </div>
  <a id = "contact">Contact</a>
  <div class="sub-menu">
         <li><a href="#">Sub Item 1</a></li>
         <li><a href="#">Sub Item 2</a></li>
         <li><a href="#">Sub Item 3</a></li>
         <li><a href="#">Sub Item 4</a></li>
  </div>
</div>

<!-- Use the element to open the sidenav -->

<!--Copied the javscript into html because javascript in the js file doesnt work other than jquery-->

<script>
/* Set the width of the side navigation to 250px and the left margin of the page content to 250px */
function gopenNav() {
    document.getElementById("gSidenav").style.width = "200px";
    document.getElementById("gmain").style.marginLeft = "200px";
}

/* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
function gcloseNav() {
    document.getElementById("gSidenav").style.width = "0";
    document.getElementById("gmain").style.marginLeft = "0";
}

function expand() {
	document.getElementbyId("gSidenav").style.width = "400px"
	document.getElementById("gmain").style.marginLeft = "400px";

}
</script>

<!-- Everything must be put inside the div gmain -->

<div id="gmain">
	<div id = "intro">
		<h1>SAVE THE WORLD!</h1>
		<p>Buy <strong>TREES</strong> to save the world from human destruction!</p>
	</div>
	<div class="w3-container">
  	<h2>Dynamic Progress Bar with Labels</h2>
  	<p>Left-aligned label:</p>

  	<div id="meter"><div id="progress"><div id="demo" class="w3-container w3-text-white">20%</div></div> </div>


<script>
// /*Progress bar, for some odd reason it wont work in JS so we put it here //
var barcounter = setInterval(bar, 1000);

var percent= 0; 
var resourcecount = 0;
var progress = document.getElementById("progress"); 
function bar(){ 
  percent = (resourcecount/10000)*100;
  if(percent>=100) {
    percent = 100;
    progress.style.width = percent + "%";
    document.getElementById("demo").innerHTML = percent * 1  + '%';
  }
  else {
    progress.style.width = percent + "%";
    document.getElementById("demo").innerHTML = percent * 1  + '%';
  };     
} 
</script>

	<div id = "Main">
		<div class="box">
			<p>Trees</p>
        	<p id="treeqtydisplay">0</p>
    	</div>

		<div id = "buy">
			<input type = "button" value = "Add by one"  onclick ="buytrees()">
			
		</div>

		<div id = "sell">
			<input type = "button" value = "Sell by one"  onclick="selltrees()">
	
			</button>
		</div>
	</div>

	<div>
	<p>Timer</p>
	<p id="resources"></p>
	</div>

	<div>
	<p> Waves n stuff! </p>
	<p id = "waves"></p>
	</div>
</div>