
<%provide(:title, 'Game Page') %>
<html id='gamebackground'>

<head>
	<link type="text/css" rel="stylesheet" href="game.css" />
	<title>Ecowars</title>
</head>
<!-- Game menu bar -->
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Buys</a>
  <a href="#">Contact</a>
</div>

<!-- Use the element to open the sidenav -->
<span onclick="openNav()">&#9776; Game Menu</span>
<!--Copied the javscript into html because javascript in the js file doesnt work other than jquery-->

<script>
/* Set the width of the side navigation to 250px and the left margin of the page content to 250px */
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
}

/* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft = "0";
}
</script>

<!-- Everything must be put inside the div main -->


<div id="main">
  push me over
</div>