
<%provide(:title, 'Game Page') %>
<html id='gamebackground'> <!--Remember if we create a game background then create gamebackground.css-->

<head>
	<link type="text/css" rel="stylesheet" href="game.css" />
	<title>Ecowars</title>
</head>
<!-- Game menu bar -->
<span style="font-size:30px;cursor:pointer" onclick="gopenNav()">&#9776; Game Menu</span>
<div id="gSidenav" class="gsidenav">
  <a href="javascript:void(0)" class="gclosebtn" onclick="gcloseNav()">&times;</a>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Buys</a>
  <a href="#">Contact</a>
</div>

<!-- Use the element to open the sidenav -->

<!--Copied the javscript into html because javascript in the js file doesnt work other than jquery-->

<script>
/* Set the width of the side navigation to 250px and the left margin of the page content to 250px */
function gopenNav() {
    document.getElementById("gSidenav").style.width = "200px";
    document.getElementById("gmain").style.marginLeft = "200px";
}

/* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
function gcloseNav() {
    document.getElementById("gSidenav").style.width = "0";
    document.getElementById("gmain").style.marginLeft = "0";
}

</script>

<!-- Everything must be put inside the div main -->

<div id="gmain">

	<table>
		<tbody>	
			<tr id = "Main">
				<td id = "right">
					<table>
						<tbody>
							<tr></tr>
								<td>a</td>
								<td>b</td>
							<tr id = "buy"></tr>
								<td>
									<img src = "https://images.cooltext.com/4780196.png" id="up" onclick="modify_qty(1)" ></button>
								</td>
								<td>
									<div class="box">
        								<input id="qty" value="0" />
    								</div>
								</td>
							<tr id = "sell"></tr>
								<td>
									<img src = "https://images.cooltext.com/4783121.png" id="down" onclick="modify_qty(-1)"></button>

								</td>
						</tbody>
					</table>
				</td>
				<td id = "left">
					<table>
						<tbody>
							<tr></tr>
								<td id="topcenterright" style="display:inline-block;width:450px;height:100px;float:right">
									<input id="points" value="0" />
								</td>
								<td id="topright" style="display:inline-block;width:450px;height:100px;float:right">
								</td>
						</tbody>
    				</table>
    			</td>
			</tr>
			<tr id = "bottom">
				<td style="display:inline-block;max-width:100%;max-height:100%;"">
				ABCDEFG
				</td>
				
			</tr>
		</tbody>
	</table>

	<div id="blue"></div>
  	<div id="red"></div>
  	<div id="green"></div>
	<div id="yellow"></div>
  	<div id="black"></div>
  	<div id="white"></div>

    <div class= "clicker">Click Me!</div>

</div>
