
<%provide(:title, 'Game Page') %>
<html id='gamebackground'>
<head>
	<link type="text/css" rel="stylesheet" href="game.css" />
	<script type ='text/javascript' src="game.js"></script>
	<title>Ecowars</title>
</head>

<body>

	<div id="blue"></div>
    <div id="red"></div>
    <div id="green"></div>
	<div id="yellow"></div>
    <div id="black"></div>

    <div class= "clicker">Click Me!</div>

</body>

