<%provide(:title, 'Game Page') %>
<html id='gamebackground'>
<head>
	<link type="text/css" rel="stylesheet" href="game.css" />
	<title>Ecowars</title>
</head>

<body>
	<div id= "nature">
		
	</div>
	<div id= "humans">
		
	</div>
	<div id= "border">

	</div>
	<div id= "game_menu">

	</div>
	<div id= "clicker">
	<img src = http://www.clker.com/cliparts/t/f/p/b/l/o/small-pointy-pine-tree-hi.png>
	</div>
</body>

