<%provide(:title , 'Comments') %>
<html id='homebackground'>
<link type="text/css" rel="stylesheet" href="homebackground.css" />
<ul class='hnav'>
  <li><a href="/home">Home</a></li>
  <li><a class='active' href="/home/comments">Comments</a></li>
  <li class="dropdown">
    <a href="#" class="dropbtn">Social Media</a>
    <div class="dropdown-content">
      <a href="https://www.facebook.com/profile.php?id=100008308512312">Facebook</a>
      <a href="https://www.instagram.com/justin_sungg/">Instagram</a>
    </div>
  </li>
</ul>

<body>

</body>




