<head>
	<link type="text/css" rel="stylesheet" href="stylesheet.css" />
	<title>Ecowars</title>
</head>
<body>
	<div class="panel">
    <br />
    <br />
    <p> Now you see me!</p>
    </div>
    <p class="slide">
    	<div class="pull-me">Slide Up/Down
    	</div>
    </p>
</body>


<div id= "map">
<%= link_to 'Map', home_map_path %>
</div>
