
<%provide(:title , 'Home page') %>
<html id=homebackground>
<link type="text/css" rel="stylesheet" href="homebackground.css" />
<head>
</head>
<div class="popup">
    <div class="popupcontent">
        <h2>Thank you for joining this site.</h2>
        <p>This site is currently in beta stages and is unavailable to the public. Our developers are working on something fun and awesome - check back later for more!</p>

        <p class = "close">-Justin</a></p>
        <p class="xclose">x</p>
    </div>
</div>
<body>
	<div class="panel">
    <br />
    <br />
    <p> Now you see me!</p>
    </div>
    <p class="slide">
    	<div class="pull-me">Play Now!
    	</div>
    </p>
</body>


<div id= "map">
<%= link_to 'Map', home_map_path %>
</div>
</html>

