
<%provide(:title , 'Home page') %>
<html id='homebackground'>
<link type="text/css" rel="stylesheet" href="homebackground.css" />
<ul class='hnav'>
  <li><a class="active" href="#home">Home</a></li>
  <li><a href="#comments">Comments</a></li>
  <li class="dropdown">
    <a href="#" class="dropbtn">Social Media</a>
    <div class="dropdown-content">
      <a href="https://www.facebook.com/profile.php?id=100008308512312">Facebook</a>
      <a href="https://www.instagram.com/justin_sungg/">Instagram</a>
    </div>
  </li>
</ul>





<!-- Login/ User display interface after clicking play -->



<!--Development popup-->
<div class="popup">
    <div class="popupcontent">
        <h2>Thank you for joining this site.</h2>
        <p>This site is currently in beta stages and is unavailable to the public. Our developers are working on something fun and awesome - check back later for more!</p>

        <p>-Justin</p>
        <p class="xclose">x</p>
    </div>
</div>

<body>
<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Dramatically Engage.</h1>
            <p>Take part in a game where humans are pitted against the retaliating spectrum of nature.</p>
            <p>Navigate to the top to begin.</p>
        </div>
         <button1 class="engagenow" onclick="document.getElementById('login').style.display='block'">ENGAGE NOW</button1>
    </div>
</header>



<div id="login" class="modal">
  
  <form class="modal-content animate">
    <div class="imgcontainer">
      <span onclick="document.getElementById('login').style.display='none'" class="close">&times;</span>
      <img src="http://dy-communication.com/wp-content/uploads/2015/10/user-avatar.png" class="avatar">
    </div>

    <div class="container">
      <label style='font-size:20px'><b>Username</b></label>      
      <input type="text" placeholder="Enter Username" id ="uname" required> <!--Declare variables for uname and pass and display it in game.html.erb-->
      
      <label style='font-size:20px'><b>Password</b></label>
      <input type="password" placeholder="Enter Password" id="psw" required>
       
        <a href="/home/map" id='loginbtn'>Login</a>
      <input type="checkbox" checked="checked"> Remember me
    </div>

    <div class="logincontainer">
      <button type="button" onclick="document.getElementById('login').style.display='none'" class="cancelbtn">Cancel</button>
      <span id='forgotpass'>Forgot password? Email jsung2000@gmail.com or xrocxion@gmail.com.</span>
    </div>
  </form>
</div>

</body>

</div>
</html>

