
<%provide(:title , 'Home page') %>
<html id='homebackground'>
<link type="text/css" rel="stylesheet" href="homebackground.css" />
<head>
</head>
<div id='play'>
<span style="font-size:30px;cursor:pointer" onclick="hopenNav()">&#9776; Play now!</span>
</div>
<div id="hSidenav" class="hsidenav">
  <a href="javascript:void(0)" class="hclosebtn" onclick="hcloseNav()">&times;</a>
  <div class='hlinks'>
    <a href="#">Help</a>
    <a href="#">Contact</a>
    <a href="/home/map">Game</a>
    <a href="#">Social Media Pages</a>
  </div>
  <div class='hlogo'>
  <img src ='https://images.cooltext.com/4780179.png'/>
  </div>
</div>

<!--Copied the javscript into html because javascript in the js file doesnt work other than jquery-->

<script>
function hopenNav() {
    document.getElementById("hSidenav").style.height = "200px";
    document.getElementById("hmain").style.marginTop = "200px";
}

/* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
function hcloseNav() {
    document.getElementById("hSidenav").style.height = "0";
    document.getElementById("hmain").style.marginTop = "0";
}
</script>

<div class="popup">
    <div class="popupcontent">
        <h2>Thank you for joining this site.</h2>
        <p>This site is currently in beta stages and is unavailable to the public. Our developers are working on something fun and awesome - check back later for more!</p>

        <p>-Justin</p>
        <p class="xclose">x</p>
    </div>
</div>

<div id="hmain">

    <div id="ok">
    </div>

</div>
</html>


