#homebackground { 
  background: url('http://il6.picdn.net/shutterstock/videos/5327852/thumb/5.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}